@page "/"
@using FRONTEND_app.Data
@using static DATABASE_library.Models.Data.DataModel
@using DATABASE_library
@using Microsoft.EntityFrameworkCore.Query
@inject NavigationManager Navigation

<h1>Welcome to the Project</h1>

<p>This project is designed to provide insights into power consumption and cost analysis. It allows users to view aggregated data, visualize it through charts, and make informed decisions based on the data.</p>
<p>To use the software, a power measurement plug is needed. Plug is then set up via its web interface to forward messages to broker. Then all the data should be saved in database for further use.</p>
<p>Program itself doesn't save energy, instead provides a toolset to measure, check and predict further use.</p>
<a>Each page contains a tool for a specific purpose explained below:</a>

<h2>Use Cases</h2>
<ul>
    <li>
        <strong>Aggregation Page:</strong> This page allows users to view aggregated power and cost data over a selected time period. Users can choose different aggregation types and view the data in chart format.
        <br> It's supposed to be used for a quick overview of the data, mainly in case that measurement plug has been used for same device for longer period of time.
        <br/>
        <Button Color="ButtonColor.Primary" Type="ButtonType.Button" Size="ButtonSize.Small" @onclick="NavigateToAggregation"> Go to Aggregation Page </Button>
    </li>
    <li>
        <strong>Measurements:</strong> Measurement page allows users to view, create and set measurements which are a collection of data gathered over a period of time
        <br/> Title and category are used to divide measurements between different devices and types of measurements. One could perform multiple readings for washing machine on different modes.
        <br/>
        <Button Color="ButtonColor.Primary" Type="ButtonType.Button" Size="ButtonSize.Small" @onclick="NavigateToMeasurements"> Go to Measurements </Button>
    </li>
    <li>
        <strong>Overview:</strong> A page showing live data from the device. It shows current, voltage and power data in real-time. Users can view the data in chart format and select a specific time period to view the data.
        <br/> It's supposed to be a troubleshooting tool, or quick overview of the device's current state. Useful for detecting power spikes or other abnormalities.
        <br/>
        <Button Color="ButtonColor.Primary" Type="ButtonType.Button" Size="ButtonSize.Small" @onclick="NavigateToOverview"> Go to Overview</Button>
    </li>
    <li>
        <strong>Summary:</strong> A page gathering and grouping all the data from the device. Each row is a separate, uninterrupted usage of device.
        <br/> It could be used for analysis of how long and how often said device is being used over a time period.
        <br/>
        <Button Color="ButtonColor.Primary" Type="ButtonType.Button" Size="ButtonSize.Small" @onclick="NavigateToSummary"> Go to Summary</Button>
    </li>
</ul>

@code {
    private void NavigateToAggregation()
    {
        Navigation.NavigateTo("/aggregation");
    }

    private void NavigateToMeasurements()
    {
        Navigation.NavigateTo("/measurements");
    }
    
    private void NavigateToOverview()
    {
        Navigation.NavigateTo("/overview");
    }
    
    private void NavigateToSummary()
    {
        Navigation.NavigateTo("/summary");
    }
}